{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.flaggedObject  %}
        <a href="{{ admin.generateNamedUrl('edit', object.flaggedObject, {}, true) }}" title="Edit {{ object.flaggedObject }}">
            <i class="icon-edit"></i>{{ object.flaggedObject }}
        </a>
    {% else %}
        -
    {% endif %}
{% endblock %}